{% layout "layout.liquid" %}
{% block content %}
    <div class="container-md">
        <h1>Welcome to your spellbook!</h1>
        <p>Get started by <a href="characters/new">creating a character</a> and adding some spells to their spellbook! You can also <a href="spells/new">create your own custom spells!</a></p>
    </div>

{% endblock %}