{% layout "layout.liquid" %}
{% block content %}
    <div class="container-md" id="homepage">
        <div>
            <h1 class="display-1">Welcome to The Adventurer's Spellbook!</h1>
            <h3>Get started by <a href="characters/new">creating a character</a> and adding some spells to their spellbook! </h3>
            <h3>You can also <a href="spells/new">create your own custom spells!</a></h3>
        </div>
    </div>

{% endblock %}