{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/examples" method="POST">
        <fieldset>
            <legend>Create New Character</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter character name"
                class="form-control"
            >
            <label class="form-label">Class:</label>
            <input 
                type="text" 
                name="class" 
                placeholder="enter character class" 
                class="form-control"
            >
            <label class="form-label">Level:</label>
            <input 
                type="number" 
                name="level" 
                class="form-control"
            >
            <!-- <label class="form-label">Ready:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input" -->
            <!-- > -->
        </fieldset>
        <input type="submit" value="Create New Character" class="btn btn-success">
    </form>
</div>
{% endblock %}